@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

$primary: blue;

.columns {
    flex-wrap: wrap;
    color: $primary;
}

.content h3 {
    color: $primary;
}
