@import './Theme.scss';

.heading {
    font-size: 50px;
    color: $dark;
}

.jumbotron-container {
    padding-top: 100px;
    height: 100vh;

    

    .container-left {
        flex: 1 1 45%;
        z-index: 2;

        p {
            font-size: 22px;
        }

        .jumbotron-tag {
            span {
                font-family: $font-handwriting;
                font-size: 40px;
            }

            .highlight-1 {
                color: $secondary;
            }

            .highlight-2 {
                color: $primary;
            }
        }
    }

    .container-right {
        flex: 1 1 55%;
        z-index: 1;
        position: relative;

        .container-image {

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.summary-container {
    margin: 100px 0;
    text-align: center;

    .container-left, .container-right {
        flex: 1 1 100%;
    }

    .container-right {
        padding: 0 100px;

        .summary-content{
            flex: 0 0 auto;
            max-width: 500px;
            text-align: justify;
            margin: 0 auto;
            vertical-align: central;
            font-size: 22px;
        }

        .summary-tag {
            font-family: $font-serif;

            .highlight-1{
                font-size: 60px;
                color: $primary;
            }

            .highlight-2{
                font-size: 40PX;
                color: $secondary;
            }
        }
    }

    .container-image {
        img {
            width: 100%;
            height: auto;
        }
    }
}
